<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Barcelona</title>
    <link href = "{{url_for('static',filename = 'ddsmoothmenu.css')}}" type="text/css"  rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Roboto:300" rel="stylesheet">
</head>

<body>
	<div class="frame">
			<div class="title">Our Dream Guide</div>
			<div class="name">Barcelona</div>
			
			
			
			<p style="text-align: center;font-size: 20px; font-weight: bold;">Sagrada Familia</p>
		<div class = "image-city" >
				<img id = "d1_img" src='' >
			</div>
		<h3> Описание </h3>
			<p> Церковь в Барселоне, в районе Эшампле,
				строящаяся на частные пожертвования начиная с 1882 года;
				знаменитый проект Антонио Гауди.
				Один из самых известных «долгостроев» мира:
				по решению инициаторов строительства храма финансирование работ должно выполняться исключительно за счёт пожертвований прихожан. Также окончание строительства задерживает сложность изготовления каменных блоков.
				Согласно компьютерной модели, каждый из них требует индивидуальной обработки и подгонки. </p>

			
			
			<p style="text-align: center;font-size: 20px; font-weight: bold;"> The National Museum in Barcelona</p>

			<div class = "image-city" >
				<img id = "d2_img" src='' >
			</div>
		<h3> Описание </h3>
		<p> музей в Барселоне, создан в 1990 году в результате объединения коллекций Музея современного искусства и Музея искусства Каталонии.
			Музей является консорциумом города Барселона и министерства культуры Каталонии.
			Его штаб-квартира располагается в Национальном дворце у подножия горы Монтжуик, открытом в 1929 году ко Всемирной выставке в Барселоне.
			В состав MNAC также входят ещё три учреждения культуры в Виланове-и-ла-Жельтру, Олоте и Сиджесе. </p>
			
			
			<p style="text-align: center;font-size: 20px; font-weight: bold;"> Barcelona Cathedral</p>

			<div class = "image-city" >
				<img id = "d3_img" src='' >
			</div>
		<h3> Описание </h3>
		<p>Кафедральный собор Барселоны — удивительно красивый образец готического стиля с отчётливыми жизнеутверждающими каталонскими мотивами.
			Несмотря на свою массивность, провоцирующую у зрителя мысли о нерадостном Средневековье,
			собор может похвастать массой изящных деталей — помпезной готической «розеткой» над центральным входом,
			стройными колоннами и летящими ввысь шпилями-башенками. Но главные достопримечательности расположены внутри — скульптура Христа с флагмана каталонского флота,
			13 белых гусей во славу святой Евлалии и головокружительные виды на Барселону с купола собора. </p>
			
	
			
			
		</div>
		

	<script type='text/javascript' src='static/js/D_IMG_Load.js'> </script>

</body>

</html>



