<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Berlin</title>
    <link href = "{{url_for('static',filename = 'ddsmoothmenu.css')}}"  type="text/css"  rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Roboto:300" rel="stylesheet">
</head>

<body>
	<div class="frame">
			<div class="title">Our Dream Guide</div>
			<div class="name">Berlin</div>
			
			
			
		<p style="text-align: center; font-size: 20px; font-weight: bold;">Reichstag </p>
		<div class = "image-city" >
				<img id = "d1_img" src='' >
			</div>
		<h3> Описание </h3>
			<p> Историческое здание в Берлине, где в 1894—1933 годах заседал одноимённый государственный орган Германии — рейхстаг Германской империи и рейхстаг Веймарской республики.
				В 1945 году в Советском Союзе здание германского парламента было объявлено главным символом гитлеровской Германии.
				Сталин приказал водрузить на нём Знамя Победы.
				С 1999 года в реконструированном здании рейхстага размещается бундестаг.
				Название здания принято писать с прописной буквы, заседавшего в нём парламента — со строчной.
				Германский бундестаг является самым посещаемым парламентом в мире. </p>

			
			
			<p style="text-align: center;font-size: 20px; font-weight: bold;">Berlin Wall</p>
		<div class = "image-city" >
			<img id = "d2_img" src='' >
			</div>
		<h3> Описание </h3>
		<p> Инженерно-оборудованная и укреплённая государственная граница Германской Демократической Республики, построенная на территории ГДР вокруг Западного Берлина и существовавшая с 13 августа 1961 года по 9 ноября 1989 года.
			Берлинская стена не только разделяла западную и восточную части города, но и отделяла Западный Берлин от территории ГДР.
			Общая протяжённость составляла 155 км (в том числе 43,1 км — в черте Берлина </p>
			
			
			<p style="text-align: center;font-size: 20px; font-weight: bold;">Brandenburg gate</p>

			<div class = "image-city" >
				<img id = "d3_img" src='' >
			</div>
			<h3> Описание </h3>
		<p> Бранденбургские ворота — единственные сохранившиеся городские ворота Берлина, их первоначальное название — Ворота мира.
			Они были построены Карлом Готтгардом Ланггансом в 1789—1791 гг. и являются первой значимой работой,
			выполненной в стиле берлинского классицизма. </p>

		</div>
		

	<script type='text/javascript'  src='static/js/D_IMG_Load.js'> </script>

</body>

</html>



